<footer>
  

<div class="social-nav footer-social">
  <a href="https://open.spotify.com/artist/6erqYFT0yIi0vTtpgRgYr4" target="_blank"><i class="fab fa-spotify"></i></a>
  <a href="https://instagram.com/w4vzen" target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="https://tiktok.com/@w4vzen" target="_blank"><i class="fab fa-tiktok"></i></a>
  <a href="https://youtube.com/@W4VZEN" target="_blank"><i class="fab fa-youtube"></i></a>
  <a href="https://www.facebook.com/w4vzen" target="_blank"><i class="fab fa-facebook"></i></a>
</div>
  
 


<p>&reg; 2026 - {{ site.title }} - Todos los derechos reservados</p>
  

  
</footer> 
